body {
  font-family: consolas;
  color: #eee;
  font-size: 1.1em;
}
h1 {
    font-size: 1.8em;
}
h2 {
    margin-top: 2em;
    margin-bottom: 0em;
}
footer {
    font-size: 0.8em;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80%;
}
